<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Artist %><br>
    <%= f.text_field :Artist %>
  </div>
  <div class="field">
    <%= f.label :Album %><br>
    <%= f.text_field :Album %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_area :link %>
  </div>
  <div class="field">
    <%= f.label :Noofdown %><br>
    <%= f.text_field :Noofdown %>
  </div>
  <div class="field">
    <%= f.label :NoofViews %><br>
    <%= f.text_field :NoofViews %>
  </div>
  <div class="field">
    <%= f.label :Details %><br>
    <%= f.text_area :Details %>
  </div>
  <div class="field">
    <%= f.label :img %><br>
    <%= f.text_area :img %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :subcategory_id %><br>
    <%= f.text_field :subcategory_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
