<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Year</th>
      <th>Link</th>
      <th>Noofdown</th>
      <th>Noofviews</th>
      <th>Details</th>
      <th>Img</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.Artist %></td>
        <td><%= item.Album %></td>
        <td><%= item.year %></td>
        <td><%= item.link %></td>
        <td><%= item.Noofdown %></td>
        <td><%= item.NoofViews %></td>
        <td><%= item.Details %></td>
        <td><%= item.img %></td>
        <td><%= item.category %></td>
        <td><%= item.subcategory %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
