<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @item.Artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @item.Album %>
</p>

<p>
  <strong>Year:</strong>
  <%= @item.year %>
</p>

<p>
  <strong>Link:</strong>
  <%= @item.link %>
</p>

<p>
  <strong>Noofdown:</strong>
  <%= @item.Noofdown %>
</p>

<p>
  <strong>Noofviews:</strong>
  <%= @item.NoofViews %>
</p>

<p>
  <strong>Details:</strong>
  <%= @item.Details %>
</p>

<p>
  <strong>Img:</strong>
  <%= @item.img %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @item.subcategory %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
